<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.kennybky.androidbug5497"  version="0.0.1">
    <name>Android Bug 5497 workaround</name>
    <description>A Workaround for android bug5497</description>
    <author>Adekola Togunloju</author>
    <license>ISC</license>
    <keywords>cordova,softinputmode kennybky 5497</keywords>


    <engines>
        <engine name="cordova" version=">=6.0.0"/>
    </engines>
    <platform name="android">
   
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AndroidBug5497Workaround">
                <param name="android-package" value="com.kennybky.androidbug5497.AndroidBug5497Workaround"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>


           <source-file src="src/com/kenybky/androidbug5497/AndroidBug5497Workaround.java" target-dir="src/com/kenybky/androidbug5497" />
    </platform>
</plugin>